<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./styles/index.css">
  </head>
  <body>
    <div class="header">
      <div>
        <h3 class="title-heading">Expense tracker App</h3>
      </div>
      <div>
        <p class="home_nav active_nav" onclick="return">Home</p>
        <div id="leaderboard">         
          <p class="leaderboard_page">Leaderboard</p>
        </div>
        <p class="buy-premium">Buy Premium</p>
        <p class="prem-msg">Premium User</p>
        <p class="logout">Logout</p>
      </div>
    </div>
    <div class="container">
      <form class="col-md-6" onsubmit="handleExpenseSubmit(event)">
        <div class="form-group">
          <label for="amount"> Amount </label>
          <input
            class="form-control"
            name="amount"
            type="number"
            id="amount"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description </label>
          <input
            class="form-control"
            name="description"
            id="description"
            type="text"
            required
          />
        </div>
        <div class="form-group">
          <label for="category">Category </label>
          <select class="form-control" id="category" name="category" required>
            <option value="movies">Movies</option>
            <option value="tour">Tour</option>
            <option value="food">Food</option>
            <option value="family">Family</option>
          </select>
        </div>
        <button class="btn-primary" type="submit">Submit</button>
      </form>

      <div class="exp-list">
        <h3>Expenese List</h3>
        <ul class="list-group col-md-6"></ul>

        <div class="list-conf">

          <div class="pagination">
            
          </div>

          <div class="change-page-items">
              <select name="pageitems" id="page-items">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
              </select>
          </div>
        </div>
        <div class="empty-list">
          None
        </div>
      </div>
    </div>

    <!-- <div id="leaderboard">
      <button class="leaderboard-btn" onclick="showLeaderBoard()">
        Show leaderboard
      </button>
      <ul class="leaderboard-list"></ul>
    </div> -->
    <div id="download-file">
      <img src="./downloadImg.avif" onclick="downloadExpense()" id="download-img" alt="">
      <!-- <button class="download-file" onclick="downloadExpense()">
        Download

      </button> -->
    </div>
    <script src="./index.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.3/axios.min.js"
      integrity="sha512-zJXKBryKlsiDaWcWQ9fuvy50SG03/Qc5SqfLXxHmk9XiUUbcD9lXYjHDBxLFOuZSU6ULXaJ69bd7blSMEgxXNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
